{% extends 'test_layout_marc/baseTest.html.twig' %}
 
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
 
    {% if retry %}
        <h3>Nouvelle tentative</h3>
    {% endif %}
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
 
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
 
        {# pour choisir la page de connexion en cas de succès d'authentification #}
        <input type="hidden" name="_target_path" value="{{ path('test_secure_auth') }}"/>
 
        <button type="submit">login</button>
    </form>
{% endblock %}

